<!DOCTYPE html>
<html>

<head>
	<title><% if (u) { %><%= u.username %>'s Profile<% } else { %>Not Found<% } %></title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
	<%- include('header', {user: user}); %>
	<div id="contents">
		<% if (u) { %>
			<h3><%= u.username %>'s Profile</h3>
		<% } else { %>
			User not found!
		<% } %>
	</div>
</body>

</html>



		