<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<% let user = undefined; %>
	<%- include('header', {user: user}); %>
	<div id="contents">
		<h3>Register</h3>

		<form action="/register" method="post">
			<input id="username_input" autocomplete="off" name="username" placeholder="Enter Username"><br>
			<input autocomplete="off" type="password" name="password" placeholder="Enter Password"><br>
			<input type="submit">
		</form>

		<% if(error) { %>
		<br><b><%= error %></b><br>
		<% } %>

		<br><a href="/login">Login</a><br>
		<a href="/">Home</a>
	</div>
	<script type="text/javascript">
		document.getElementById("username_input").focus();
	</script>
</body>
</html>