#dropzone {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
    width: 100%;
    height: 150px;
    line-height: 150px;
    text-align: center;
    background-color: #f4f4f4;
    border: 2px dashed #ccc;
    transition: all .2s;
}

.is-dragover {
    border-radius: 15px;
    border-color: #bbb !important;
    background: #f6f6f6 !important;
}

#rooms {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
    width: 100%;
    background-color: #f4f4f4;
    border: 2px solid #ccc;
    transition: all .2s;
}

#rooms a {
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border: none;
}

li a {
    text-decoration: none;
    color: #000;
    display: block;
    transition: all .3s;
}

li a:hover {
    background: #ddd;
}

#norooms a:hover {
    background: #f4f4f4;
}

.modal {
	display: none;
	position: absolute;
}

#overlay {
	position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: #222;
}

#modalbox {
	text-align: center;
	padding: 10%;
	position: absolute; top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	background-color: #FFF;
}

#uploadinput {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

#uploadinputlabel {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	transition: background 0.5s;
}

#uploadinputlabel:hover {
	background-color: #ddd;
	cursor:pointer;
}

#modalbox select {
	font-family: inherit;
	font-size: 16px;
}

#modalbox button {
	padding: 2px 10px;
	margin-bottom: 3px;
	font-family: inherit;
	font-size: 16px;
}